<footer class="container-fluid text-center">
  <p>© Turku Black Sox / Turun Baseball Kerho ry <span id="year"></span></p>
  <p>team@turkublacksox.fi | <a href="https://github.com/jhirvioja/turkublacksox-11ty/blob/master/{{ page.inputPath }}">GitHub</a></p>
</footer>
<script>
{% include "getyear.js" %}
</script>