---
layout: layouts/base.njk
---

<div class="container">
  <center>
    <img src="{{ '/img/links.png' | url }}" alt="Links Icon" />
  </center>
</div>
<div style="margin: 10px;"></div>
<div class="container text-start">
  {{ content | safe }}
</div>