---
layout: layouts/base.njk
---

<div class="container">
  <center>
    <img src="{{ '/img/team.png' | url }}" alt="Team Icon" />
  </center>
</div>
<div style="margin: 10px;"></div>
<div class="container text-start">
<center>
  {{ content | safe }}
</center>
</div>