---
layout: layouts/linkit.njk
title: "Linkit | Turku Black Sox"
eleventyNavigation:
  key: Linkit
  order: 3
---

<div class="container text-center">
  <div class="row">
    <div class="col-md-4">
      <h1 style="font-size: 1.5em">Turku Black Sox muualla</h1>
      <div class="well">
        <a href="https://www.facebook.com/turkublacksox">Turku Black Sox @ Facebook</a><br />
        <a href="https://www.instagram.com/turkublacksox/">Turku Black Sox @ Instagram</a><br />
        <a href="https://www.instagram.com/explore/tags/turkublacksox/">#turkublacksox @ Instagram</a><br />
        <a href="https://twitter.com/turkublacksox">Turku Black Sox @ Twitter</a><br />
      </div>
    </div>
    <div class="col-md-4">
      <h1 style="font-size: 1.5em">Varusteet ym. tuotteet</h1>
      <div class="well">
        <a href="https://www.forelle.com/">Forelle</a><br />
        <a href="https://coveesports.com/en">Covee Sports</a><br />
        <a href="https://fielders-choice.de/en/">Fielder's Choice</a><br />
        <a href="https://www.baseballnordics.com/">Baseball Nordics</a><br />
        <a href="https://www.mlbshopeurope.com/en/">MLB Shop Europe</a><br />
      </div>
    </div>
    <div class="col-md-4">
      <h1 style="font-size: 1.5em">Organisaatioita</h1>
      <div class="well">
        <a href="http://baseball.fi/">Suomen Baseball- ja Softball-liitto (SBSL) ry</a><br />
        <a href="https://www.pesis.fi/">Suomen Pesäpalloliitto ry</a><br />
        <a href="https://www.wbsceurope.org/en">World Baseball Softball Confederation Europe</a><br />
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <h1 style="font-size: 1.5em">Lyömisestä</h1>
      <div class="well">
        <img src="{{ '/img/youtube.png' | url }}" alt="YouTube Icon" style="padding: 3px" />&nbsp<a
          href="https://youtu.be/nO3PKSAdUSw"
          >How To Hit A Baseball (BEGINNER'S GUIDE...</a
        ><br /><br />
        <img src="{{ '/img/youtube.png' | url }}" alt="YouTube Icon" style="padding: 3px" />&nbsp<a
          href="https://www.youtube.com/watch?v=gSyjScQnvqk"
          >CRUSH MORE HOME RUNS With These...</a
        ><br /><br />
        <img src="{{ '/img/youtube.png' | url }}" alt="YouTube Icon" style="padding: 3px" />&nbsp<a
          href="https://youtu.be/QeOhWV4hfyk"
          >5 BIG Mistakes Hitters Make (AVOID THESE!!)</a
        ><br />
      </div>
    </div>
    <div class="col-md-4">
      <h1 style="font-size: 1.5em">Syöttämisestä</h1>
      <div class="well">
        <img src="{{ '/img/youtube.png' | url }}" alt="YouTube Icon" style="padding: 3px" />&nbsp<a
          href="https://youtu.be/ZZQKsPt_g_Q"
          >9 Pitching Velocity Killers - If you fix...</a
        ><br /><br />
        <img src="{{ '/img/youtube.png' | url }}" alt="YouTube Icon" style="padding: 3px" />&nbsp<a
          href="https://youtu.be/pNT7f_JYIQU"
          >Struggling to Throw Strikes? | 5 Tips to...</a
        ><br /><br />
        <img src="{{ '/img/youtube.png' | url }}" alt="YouTube Icon" style="padding: 3px" />&nbsp<a
          href="https://youtu.be/HiJFPA7JgSo"
          >How to Feel the "Hinge" | Pitching Drills</a
        ><br />
      </div>
    </div>
    <div class="col-md-4">
      <h1 style="font-size: 1.5em">IF/OF, taktiikka, säännöt</h1>
      <div class="well">
        <img src="{{ '/img/youtube.png' | url }}" alt="YouTube Icon" style="padding: 3px" />&nbsp<a
          href="https://youtu.be/vjoIcUIgv5o"
          >Intro to Baseball: Tagging Up and Sacrifice...</a
        ><br /><br />
        <img src="{{ '/img/youtube.png' | url }}" alt="YouTube Icon" style="padding: 3px" />&nbsp<a
          href="https://youtu.be/eD5FBGs6jMY"
          >Infield Secret to Create Rhythm (Baseball...</a
        ><br /><br />
        <img src="{{ '/img/youtube.png' | url }}" alt="YouTube Icon" style="padding: 3px" />&nbsp<a
          href="https://youtu.be/AquPjo3lMS0"
          >Outfield Tips - Fielding The Baseball...</a
        ><br />
      </div>
    </div>
  </div>
</div>