---
layout: layouts/base.njk
title: "Linkit | Turku Black Sox"
eleventyNavigation:
  key: Linkit
  order: 5
---

<div class="container">
  <center>
    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link">
      <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
      <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
    </svg>
  </center>
</div>
<div style="margin: 10px;"></div>
<div class="container text-start">

  <div class="container text-center">
    <div class="row">
      {%- for linkki in linkitsivu %}
        <div class="col-md-4 linkitwrapper">
          <h1 style="font-size: 1.5em">{{ linkki.fields.title }}</h1>
          {%- if linkki.sys.id == "63NyOESX2erzjbcJbKYCjT" or linkki.sys.id == "5wefvZkZrxW9Ael0EctJVE" or linkki.sys.id == "W1zEqU0Bcqf6yeIoD75M3" %}
            <div class="well youtube">
              {{ linkki.fields.content | renderRichTextWithAssets | safe }}
            </div>
          {% else %}
            <div class="well">
              {{ linkki.fields.content | renderRichTextWithAssets | safe }}
            </div>
          {% endif %}
        </div>
      {% endfor -%}
    </div>
  </div>